---
- name: Apply calico net's cni plugin
  shell: >
    kubectl apply -f https://docs.projectcalico.org/v3.14/manifests/calico.yaml

- name: list kubernetes' pods
  shell: >
    kubectl get pods --all-namespaces
  changed_when: false
  register: kubectl_get_pods
  tags:
    - output

- name: print output of `kubectl get pods --all-namespaces`
  debug: msg="{{ kubectl_get_pods.stdout_lines }}"
  tags:
    - output

#- name: Restart kubelet
#  service:
#    name: "{{ item }}"
#    state: restarted
#    enabled: yes
#  with_items:
#    - kubelet
