[ req ]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[ dn ]
O = system:masters
CN = kube-apiserver-kubelet-client

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.svc.cluster
DNS.5 = kubernetes.default.svc.cluster.local
DNS.6 = {{ master_host_name }}
DNS.7 = localhost
IP.1 = {{ kubernetes_clusterip }}
IP.2 = {{ master_ip }}
IP.3 = 127.0.0.1
IP.4 = 10.254.0.1

[ v3_ext ]
keyUsage=critical,digitalSignature,keyEncipherment
extendedKeyUsage=clientAuth
