apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ base_ca_crt.stdout }}
    server: https://{{ master_ip }}:{{ kube_apiserver_port }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:node:acc-master
  name: system:node:acc-master@kubernetes
current-context: system:node:acc-master@kubernetes
kind: Config
preferences: {}
users:
- name: system:node:acc-master
  user:
    client-certificate-data: {{ base_crt.stdout }}
    client-key-data: {{ base_key.stdout }}
